
<!DOCTYPE html>
<html>
<head>
	<title>Tigsource Pixel Art Scrapper</title>
	<style type="text/css">
		.post {
			display: inline;
		}
	</style>
</head>
<body>
	<h1>Tigsource Pixel Art Scrapper</h1>
	<p>This page scrapes images from tigsources pixel art showcase. You can find the thread <a href="https://forums.tigsource.com/index.php?topic=167.0">here</a>. Click a page to get started.</p>
	<p>Disclaimer: ALL images belong to their respective owners, I did not create any of them.</p>
	Pages: {% for n in range(totalpages) %}
	<a href="page{{n+1}}.html">[{{n+1}}]</a>
	{% endfor %}
</body>
</html>


