
<!DOCTYPE html>
<html>
<head>
	<title>Tigsource Pixel Art Scrapper - Page {{pagenum}}</title>
	<style type="text/css">
	.post {
		display: inline;
	}
</style>
</head>
<body>
	<h1>Tigsource Pixel Art Scrapper</h1>
	<h2>Page {{pagenum}}</h2>
	<p>Hover to view user. Click an image to go to its post.</p>
	Pages: {% for n in range(totalpages) %}
	<a href="page{{n+1}}.html">[{{n+1}}]</a>
	{% endfor %}
	<hr>
	{% for post in data %}
	<div class="post">
		{% for image in post.images %}
		<a href="{{post.link}}"><img src="{{image}}" title="Posted by {{post.profile_name}}"></a>
		{% endfor %}
	</div>
	{% endfor %}
	<hr>
	Pages: {% for n in range(totalpages) %}
	<a href="page{{n+1}}.html">[{{n+1}}]</a>
	{% endfor %}
</body>
</html>


